@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

* {
    font-family: inherit;
}

body {
    align-items: center;
    background-color: #494566;
    display: flex;
    font-family: 'Montserrat';
    height: 100vh;
    justify-content: center;
    margin: 0px;
}

.main-content {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.division-alert{
    align-items: center;
    background-color: rgb(72 136 72 / 50%);
    border-radius: 8px;
    display: flex;
    height: 60px;
    justify-content: center;
    position: relative;
}

.cancel-button {
    align-items: center;
    background-color:rgb(87 124 87 / 50%);
    border-radius: 100%;
    display: flex;
    height: 20px;
    justify-content: center;
    margin: 5px;
    padding: 1px;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 20px;
}

.cancel-button::after {
    color: rgb(39 39 39);
    content: 'X';
    font-weight: 900;
}

.calculator-container {
    align-items: center;
    background-color: #242424;
    border-radius: 8px 8px 0px 0px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 70px 40px 20px 40px;
    width: 400px;
}

.margin-bottom-calculator {
    margin-bottom: 80px;
}

.display-container {
    display: flex;
    width: 100%;
}

.calculation-result-display {
    background-color: white;
    border-radius: 8px;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 160px;
    padding: 10px 20px;
    width: 390px;
    margin-bottom: 30px;
}

.result {
    align-items: center;
    border-bottom: 1px solid black;
    display: flex;
    height: 35%;
    justify-content: center;
}

.row-flex {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    align-items: center;
    height: 65%;
}

.keyboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keyboard-button {
    background-color: #363636;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-size: 35px;
    height: 60px;
    margin: 5px;
    transition: 0.1s;
    width: 70px;
}

.calculate-button {
    width: 230px;
}

.keyboard-button:hover {
    background-color: #323232;
}

.keyboard-button-clicked {
    -moz-transform: translate(0.2px, 0.2px);
    -ms-transform: translate(0.2px, 0.2px);
    -o-transform: translate(0.2px, 0.2px);
    -webkit-transform: translate(0.2px, 0.2px);
    transform: translate(0.2px, 0.2px);
}

button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

.decimal-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: #6e6e6e;
    margin-top: 10px;
}

.decimal-numbers-input {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background-color: #242424;
    text-align: center;
    padding: 3px 0px;
    color: #6e6e6e;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    opacity: 0.15;
    padding: 2px 0px;
    width: 1em;
}